@model DiabetesFoot.Models.Medication

@{
    ViewBag.Title = "添加药物";
}

<h2>添加药物记录</h2>
@if (ViewBag.PatientName != null)
{
    <h3>患者：@ViewBag.PatientName</h3>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <!-- 隐藏字段：PatientId -->
        @Html.HiddenFor(model => model.PatientId)

        <!-- 药物名称 -->
        <div class="form-group">
            @Html.LabelFor(model => model.MedicationName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MedicationName, new { htmlAttributes = new { @class = "form-control", placeholder = "请输入药物名称" } })
                @Html.ValidationMessageFor(model => model.MedicationName, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- 药物剂量 -->
        <div class="form-group">
            @Html.LabelFor(model => model.Dosage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dosage, new { htmlAttributes = new { @class = "form-control", placeholder = "例如：50mg" } })
                @Html.ValidationMessageFor(model => model.Dosage, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- 用药频率 -->
        <div class="form-group">
            @Html.LabelFor(model => model.Frequency, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Frequency, new { htmlAttributes = new { @class = "form-control", placeholder = "例如：每日2次，餐后服用" } })
                @Html.ValidationMessageFor(model => model.Frequency, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- 开始日期 -->
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- 结束日期 -->
        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                <span class="help-block">如果不填写，表示持续用药</span>
            </div>
        </div>

        <!-- 提醒时间 -->
        <div class="form-group">
            @Html.LabelFor(model => model.ReminderTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReminderTime, new { htmlAttributes = new { @class = "form-control", type = "time", placeholder = "例如：08:00" } })
                @Html.ValidationMessageFor(model => model.ReminderTime, "", new { @class = "text-danger" })
                <span class="help-block">格式：HH:mm（例如：08:00）</span>
            </div>
        </div>

        <!-- 是否启用提醒 -->
        <div class="form-group">
            @Html.LabelFor(model => model.IsReminderEnabled, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsReminderEnabled)
                    @Html.ValidationMessageFor(model => model.IsReminderEnabled, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <!-- 备注 -->
        <div class="form-group">
            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", rows = 4, placeholder = "请输入备注信息（可选）" })
                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- 提交按钮 -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-primary" />
                @Html.ActionLink("取消", "Index", new { patientId = Model.PatientId }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

